.body{
    background: #1A0B2E;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
    background-color: #1A0B2E;
    

}

.logo{
    height: 32px;
    width: 219px;
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 24px;
}

.logo span{
        background: linear-gradient(-180deg,#9100F8,#FB09B4,#f7e83f95);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

 
}

.menu{
    display: flex;
    list-style: none;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;

}


.menu a{
     
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
}

.menu a:hover{
    color: rgba(161, 0, 105, 0.946);
    
}

.subscribe-btn{
  
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(90deg, #ffcc33, #ff33cc, #9933ff);
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    align-items: center;
    text-align: center;
    border-radius: 10000px;
    padding: 12px 16px;
    margin-top: 24px;

   
   

    

}

.hero{
    min-height: 100vh;
    background: url("../assets/hero-bg.png")  center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.circle{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    margin-top: 100px;


}

.circle-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    



}



.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    transform: translate(-50%, -50%);
    z-index: 2;

    
    
}


.badge{
    position: absolute;
    top: 5px;
    right: 12px;
    margin-top: 12px;
    padding: 8px 16px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 1000px;
    box-shadow: 0 3px 27px #00ff886b;
  
}

.content h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

.content p{
    font-size: 16px;
    color: #FFFFFF;
}


.buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
   

}

.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top:24px ;
    padding-left: 97px;
    border-radius:10000px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn img{
    width: 20px;
}

.spotify{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 20px;
    color: white;
}

.subscribe{
    border: 1px solid #00FF88;
    padding: 12px 20px;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;

}

.subscribe:hover {
    background: #00ff88;
    color: black;
}



.about-section h2{
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;

}

.about-section p{
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.663);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
}


.cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 200px;
    gap: 80px;
    text-align: center;
    margin-right: 200px;
    padding-bottom: 120px;

}

.cart h1{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}


.cart p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.721);
}

.why{
  
    background: #230E3D;
    padding: 120px 200px;
    
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: white;
   text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
      grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}

.card1{grid-area: card1;}
.card2{grid-area: card2;}
.card3{grid-area: card3;}
.card4{grid-area: card4;}
.card5{grid-area: card5;}

.card-container h3{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.card-container p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.603);
}

#card{
    border-radius: 40px;
    background: #351165;
    padding: 40px;
    gap: 16px;
  
}

.feature-section h2{
    font-size: 49px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.feature{
display: flex;
justify-items: space-between;
gap: 30px;
padding-left: 200px;
    padding-right: 200px;

    
    
    color: white;
}
.video{
    background: #250D44;
    border-radius: 14px;
    max-width: 380px;
}
    

.video iframe{
    width: 100%;
    height: 220px;
    border-radius: 15px;
  
 
}
.video-container{
   padding: 24px;
}

.video-container h3{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.video-container p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.611);
    line-height: 24px;
}

.host{
    padding-left: 200px;
    padding-right: 200px;
}

.host h2{
    text-align: center;
    font-size: 48px;
    padding-top: 120px;

}

.host-container{
    display: flex;
    gap: 24px;
    max-width: 1120px;
    
   
    border-radius: 30px;

    align-items: center;
    box-sizing: content-box;
    max-height: 280px;
    background: #3511654b;
}

.host-img{
    padding: 40px 24px 40px;
}
.social{
    max-width: 40px;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
   padding-bottom: 49px;
   
    
}

.host-content{
    box-sizing: border-box;
}

.host-content h3{
    font-size: 32px;
    font-weight: 800;
    color: white;
}

.host-content{
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.613);
}